@charset "UTF-8";
body {
  background: white;
  min-height: 100vh !important;
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none;
}

li {
  margin-right: 0;
  list-style: none;
}

#root {
  min-height: 100vh !important;
}

.navbar_header_container {
  background: white;
  height: 100vh;
  width: 300px !important;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.img-navlat {
  margin-top: 15px;
  height: 80px;
}

.navlat_container {
  height: 100%;
}

.navlat_list {
  height: 75%;
  display: flex;
  flex-direction: column;
  /* #4beccd #7febcc */
}
.navlat_list li {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlat_list li .Link_anc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none !important;
  color: #666666 !important;
  width: 100% !important;
  height: 100% !important;
  margin-left: 20px;
}
.navlat_list li .Link_anc .opciones_backend {
  margin-left: 10px;
  font-weight: 500;
  font-size: 17px !important;
  margin-bottom: 0 !important;
}
.navlat_list li:last-child {
  margin-bottom: 0;
  color: black !important;
}
.navlat_list li:hover {
  background-color: rgba(127, 235, 204, 0.5);
  cursor: pointer;
}
.navlat_list li:hover .Link_anc h5 {
  color: #00d799;
}
.navlat_list li:hover .Link_anc svg {
  fill: #00d799;
}

.Link_anc.center {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.navbar_header_container.minimized {
  width: 100px !important;
}

/* Estilo para ocultar los elementos "opciones_backend" */
.opciones_backend.hidden {
  display: none !important;
}

.img_navlat.hidden {
  display: none !important;
}

.img_navlat {
  margin-top: 10px;
  height: 80px;
}

.img_navlat1 {
  display: none !important;
}

.img_navlat1.block {
  display: block !important;
}

.name_text {
  display: none !important;
}

.name_text.block {
  display: block !important;
}

.input_subir_t {
  padding-top: 2px;
  padding-left: 5px;
  width: 360px;
}

input {
  border: 3px solid #00d799;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  text-align: center;
}

.button_pdf {
  margin: 5px 0 5px 0;
}

.confirm-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 300px;
  margin-left: 0;
}

.btn_confirm_container {
  display: flex;
  justify-content: space-around;
}

.btn_confirmacion {
  background: #00d799;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}

.btn_negacion {
  background: red;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}

.asignar_container_btn {
  width: 300px;
}

.regisasesor_container_a {
  width: 100%;
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.resiasesor {
  margin-left: 100px;
  width: calc(100% - 100px);
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.resiasesor .registro_asesor_container {
  width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 30px 0 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.resiasesor .regisasesor_container {
  width: 400px;
}
.resiasesor .regisasesor_container .form_registro_asesor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_backend {
  margin-top: 20px;
  width: 50%;
}

.custom-select {
  border: 2px solid #00d799;
  border-radius: 5px;
  width: 400px !important;
  /* Ancho del Select */
}

/* Estilos para las opciones del Select */
.custom-select .css-1okebmr-indicatorSeparator {
  display: none;
  /* Oculta el separador entre el indicador y el campo de entrada */
}

/* Ajustar el tamaño del menú emergente */
.custom-select .css-1uccc91-singleValue {
  font-size: 14px;
  /* Tamaño de fuente para el valor seleccionado */
}

.custom-select .css-1wy0on6 {
  max-height: 200px;
  /* Altura máxima del menú emergente */
  overflow-y: auto;
  /* Agregar desplazamiento vertical si el contenido excede la altura máxima */
}

.miinfo_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  width: calc(100% - 100px);
  height: 100vh;
}

.miinfo_card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background: white;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  width: 550px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_miinfo {
  width: 200px;
}

.miinfo_cards_container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.info {
  width: 40%;
  height: 30px;
  background: #b4b4b4;
}

.info_card {
  display: flex;
  justify-content: space-between;
}
.info_card h3 {
  color: #666666;
}

.asignar_container {
  margin-left: 100px;
  width: calc(100% - 100px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.asignar_card {
  width: 60%;
}

.asignar_s_u {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datos_backend_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.datos_backend_card h3 {
  color: #00d799;
  font-weight: 800;
  font-size: 35px;
}
.datos_backend_card h4 {
  font-weight: 500;
  font-size: 16px;
}

.btn_left_right {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: -17.5px;
  background: transparent !important;
}

.btn_left_right.hidden {
  display: none;
}

.btn_left_right.block {
  display: block;
}

.btn_ho:hover {
  fill: #00d799;
}

.inicio_container {
  margin-left: 100px;
  width: calc(100% - 100px);
}

.input_registro_asesor {
  width: 100%;
  height: 38px;
  padding-left: 10px;
}

.button_backend {
  border: none;
  background: #00d799;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  color: white;
}

.btn_cerrar {
  padding: 0;
}

.tabla_usuarios {
  padding-left: 70px;
  height: 135vh;
  min-width: 2000px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tabla_usuario_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.filtro_container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around !important;
}

.filtro_usuarios {
  width: 600px !important;
}

.input_filtro {
  width: 300px;
  margin-bottom: 0;
  padding-left: 10px;
}

.input_filtro_asesor {
  width: 650px;
  margin-bottom: 0;
  padding-left: 10px;
}

.table {
  color: #666666 !important;
  margin-top: 50px;
}
.table thead tr th {
  font-weight: 400;
  background-color: rgba(127, 235, 204, 0.5);
}

.franja_verd {
  width: 100%;
  height: 150px;
  background: #00d799;
  display: flex;
  justify-content: center;
  align-items: center;
}
.franja_verd h1 {
  color: white !important;
  font-weight: 800;
}

.tabla_asesor_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
}

.button_backend_filtro {
  width: 100px;
  border: none;
  background: #00d799;
  border-radius: 5px;
  color: white;
}

.tabla_asesores {
  margin-left: 100px;
  width: calc(100% - 100px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subarchivo_container {
  margin-left: 100px;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tabla_subir_archivo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
}

.asinar_asesor_container {
  margin-top: 30px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_dni_usuario {
  width: 200px;
  margin-bottom: 0;
  padding-left: 10px;
}

.asignar_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.search_u {
  margin-top: 20px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.usu_e {
  margin-top: 20px;
}

.servicio_especialidad {
  margin-left: 100px;
  padding-bottom: 50px;
  height: auto;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.se_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.servicios_c {
  margin-top: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.especialidad_c {
  margin-top: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingresar_soe {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input_soe {
  margin-bottom: 0;
  width: 250px;
  padding-left: 10px;
}

.button_agregar_soe {
  width: 200px;
  border: none;
  background: #00d799;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  color: white;
}

button {
  background: white;
  border: none;
}

tr,
td {
  text-align: center;
}

th {
  vertical-align: middle;
}

.input_table_usuario {
  width: 80px;
}

.select_serv {
  width: 100px;
  margin-bottom: 20px;
  border: 3px solid #00d799;
  border-radius: 5px;
  height: 30px;
}

.input_asignar_servicio {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

table {
  margin-top: 15px !important;
}

.asesor_c {
  margin-top: 10px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.subirarchivo_c {
  margin-top: 15px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.asignar_servicio {
  margin-top: 20px;
}

.input_asignar_servicio_select {
  border: 3px solid #00d799;
  border-radius: 5px;
  width: 250px;
  height: 45px;
  padding-left: 5px;
  padding-right: 10px;
  color: #666666;
}

.form_submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_a_form {
  width: 100%;
  height: 100vh;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.form_iniciar_sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_ingreso_a {
  margin-bottom: 10px;
  width: 400px;
  padding-left: 10px;
}

.ase_eli {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.xdd {
  padding-top: 3px;
  padding-left: 1.5px;
  width: 159px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.asesorado_container {
  height: 100vh;
  padding-left: 100px;
  width: calc(100vw - 100px) !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.asesorado_container .franja_ancho {
  width: calc(100vw - 100px);
  margin-left: 100px;
  height: 100px;
}
.asesorado_container .slider_container_asesorado {
  margin-left: 70px;
}
.asesorado_container .asesorado_card {
  margin-top: 50px;
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  align-content: center;
}
.asesorado_container .slick-list {
  width: 1200px !important;
  padding: 0 0 0 50px !important;
}
.asesorado_container .slick-slide {
  width: 500px;
  min-height: 400px;
  display: flex;
}
.asesorado_container .info_asesorado_card {
  width: 350px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.asesorado_container .info_asesorado_card h4 {
  font-size: 18px !important;
  margin-bottom: 0 !important;
}
.asesorado_container .info_asesorado_card_column {
  flex-direction: column;
}
.asesorado_container .form_asesorado {
  width: 70%;
  min-height: 30px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.asesorado_container .form_asesorado1 {
  width: 30%;
  min-height: 30px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.asesorado_container .form_asesorado2 {
  width: 100%;
  min-height: 30px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.asesorado_container .input_asesorado {
  width: 163px;
  padding-left: 4px;
  padding-top: 3px;
}/*# sourceMappingURL=variables.css.map */