@charset "UTF-8";
body {
  background: white;
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none;
}

li {
  margin-right: 0;
  list-style: none;
}

#root {
  display: flex;
}

.navbar_header_container {
  background: white;
  height: 100vh;
  width: 100px !important;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.img-navlat {
  margin-top: 20px;
  margin-bottom: 30px;
}

.navlat_container {
  height: 100%;
}

.navlat_list {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* #4beccd #7febcc */
}
.navlat_list li {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}
.navlat_list li .Link_anc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  color: #666666 !important;
  width: 100% !important;
  height: 100% !important;
}
.navlat_list li:last-child {
  margin-bottom: 0;
  color: black !important;
}
.navlat_list li:hover {
  background-color: rgba(127, 235, 204, 0.5);
  cursor: pointer;
}
.navlat_list li:hover .Link_anc h5 {
  color: #00d799;
}
.navlat_list li:hover .Link_anc svg {
  fill: #00d799;
}

input {
  border: 3px solid #00d799;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
}

.resiasesor {
  margin-left: 100px;
  width: calc(100% - 100px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.resiasesor .registro_asesor_container {
  margin-top: 30px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 30px 0 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.resiasesor .regisasesor_container {
  width: 400px;
}
.resiasesor .regisasesor_container .form_registro_asesor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_backend {
  margin-top: 20px;
  width: 50%;
}

.custom-select {
  border: 2px solid #00d799;
  border-radius: 5px;
  width: 400px !important;
  /* Ancho del Select */
}

/* Estilos para las opciones del Select */
.custom-select .css-1okebmr-indicatorSeparator {
  display: none;
  /* Oculta el separador entre el indicador y el campo de entrada */
}

/* Ajustar el tamaño del menú emergente */
.custom-select .css-1uccc91-singleValue {
  font-size: 14px;
  /* Tamaño de fuente para el valor seleccionado */
}

.custom-select .css-1wy0on6 {
  max-height: 200px;
  /* Altura máxima del menú emergente */
  overflow-y: auto;
  /* Agregar desplazamiento vertical si el contenido excede la altura máxima */
}

.miinfo_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  width: calc(100% - 100px);
  height: 100vh;
}

.miinfo_card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background: white;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  width: 550px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_miinfo {
  width: 200px;
}

.miinfo_cards_container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.info {
  width: 40%;
  height: 30px;
  background: #b4b4b4;
}

.info_card {
  display: flex;
  justify-content: space-between;
}
.info_card h3 {
  color: #666666;
}

.asignar_container {
  margin-left: 100px;
  width: calc(100% - 100px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.asignar_card {
  width: 60%;
}

.opciones_backend {
  margin-left: 10px;
  font-weight: 500;
  font-size: 17px !important;
  margin-bottom: 0 !important;
  display: none;
}

.email_backend {
  display: none;
}

.datos_backend_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.datos_backend_card h3 {
  color: #00d799;
  font-weight: 800;
  font-size: 35px;
}
.datos_backend_card h4 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}

.inicio_container {
  margin-left: 100px;
  width: calc(100% - 100px);
}

.input_registro_asesor {
  width: 100%;
  padding-left: 10px;
}

.button_backend {
  border: none;
  background: #00d799;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  color: white;
}

.tabla_usuarios {
  padding-left: 100px;
  height: 135vh;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tabla_usuario_container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.filtro_container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around !important;
}

.input_filtro {
  width: 800px;
  margin-bottom: 0;
  padding-left: 10px;
}

.input_filtro_asesor {
  width: 650px;
  margin-bottom: 0;
  padding-left: 10px;
}

.table {
  color: #666666 !important;
  margin-top: 50px;
}
.table thead tr th {
  font-weight: 400;
  background-color: rgba(127, 235, 204, 0.5);
}

.franja_verd {
  width: 100%;
  height: 150px;
  background: #00d799;
  display: flex;
  justify-content: center;
  align-items: center;
}
.franja_verd h1 {
  color: white !important;
  font-weight: 800;
}

.tabla_asesor_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
}

.button_backend_filtro {
  width: 100px;
  border: none;
  background: #00d799;
  border-radius: 5px;
  color: white;
}

.tabla_asesores {
  margin-left: 100px;
  width: calc(100% - 100px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subarchivo_container {
  margin-left: 100px;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tabla_subir_archivo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
}

.asinar_asesor_container {
  margin-top: 30px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_dni_usuario {
  width: 400px;
  margin-bottom: 0;
  padding-left: 10px;
}

.asignar_card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.servicio_especialidad {
  margin-left: 100px;
  padding-bottom: 50px;
  height: auto;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.servicios_c {
  margin-top: 30px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.especialidad_c {
  margin-top: 30px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingresar_soe {
  margin-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input_soe {
  margin-bottom: 0;
  width: 400px;
  padding-left: 10px;
}

.button_agregar_soe {
  width: 200px;
  border: none;
  background: #00d799;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  color: white;
}

button {
  background: white;
  border: none;
}

tr, td {
  text-align: center;
}

th {
  vertical-align: middle;
}

.input_table_usuario {
  width: 100px;
}

.input_asignar_servicio {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.asignar_servicio {
  margin-top: 20px;
}/*# sourceMappingURL=variables.css.map */